@white: white;
@black: black;
@grey: #dadfe6;
@color-border: #dadfe6;
@grey-backround: #d9dfe6;
@color-font-grey: #b6bfcd;
@accent: orange;
@color-main-one: #062655;
@color-main-dark: #0d203d;
@color-main-two: #203d65;
@default-font: "Barlow";
@text: #333333;
body {
	margin: 0;
	background-color: @white;
	font-family: @default-font;
	font-size: 16px;
	color: @text;
	min-width: 320px;
	position: relative;
	line-height: 1.65;
	overflow-x: hidden;
}
* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
::placeholder {
	color: #666;
}
::selection {
	background-color: @accent;
	color: #fff;
}

.img-responsive {
	display: block;
	max-width: 100%;
	height: auto;
	&.img-width {
		width: 100%;
	}
}
.text-center {
	text-align: center;
}
b, strong {
	font-weight: bold;
}
.container {
	padding-right: 15px;
	padding-left: 15px;
	margin-right: auto;
	margin-left: auto;
	@media (min-width: 576px) {
	width: 540px;
}
@media (min-width: 768px) {
	width: 720px;
}
@media (min-width: 992px) {
	width: 960px;
}
@media (min-width: 1200px) {
	width: 1140px;
}
@media (min-width: 1600px) {
	width: 1280px;
}
}
.container-fluid {
	padding-left: 0;
	padding-right: 0;
	margin-right: auto;
	margin-left: auto;
}

.cms-index-index {
	& #maincontent {
		max-width: 100%;
	}
}

/* start header and nav styles */

header {
	height: 125px;
	background-color: @color-main-one;
}

.header-top {
	height: auto;
	background-color: @color-main-dark;
}
.panel.service {
	width: 100%;
	padding-left: 30px;
	padding-right: 30px;
}
.service-list {
	color:@white;
	max-width: 1280px;
	margin: auto;
	font-size: 11px;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	align-items: center;
	justify-content: space-between !important;
	padding-inline-start: 0;
	position: relative;
	list-style: none;
	padding-top: 10px;
	padding-bottom: 5px;
	@media(max-width: 639px) {
	display:none;
}
& .service-element {
	text-align: right;	
	&:before {
	background: none;
	content: '\e909';
	font-family: 'icomoon';
	width: auto;
	height: auto;
	margin-right: 3px;
}
&:first-child {
	@media(max-width: 768px) {
	display: none;
}
&:before {
	display: none;
}
}
}
}
.header-bottom {
	position: absolute;
	top: 50px;
	width: 100%;
	padding-left: 15px;
	padding-right: 15px;
	& .header.content {
		position: relative;
		width: 100%;
		display: flex;
		align-items: flex-end;
		justify-content: space-between;
		& span {
			color: @white;
		}
		& span.text {
			font-size: 14px;
		}
		& .logo {
			max-width: 124px;
			& img {
				max-width: 100%;
			}
		}
		& .icon {
			padding-right: 8px;
		}
		& .nav-toggle {
			display: none;
		}
		& .block.block-search {
			position: relative;
			float: left;
			margin-left: 15px;
			width: 40%;
			& .block.block-title {
				display: none;
			}
			& input#search {
				width: 285px;
				background: @color-main-two;
				border-radius: 5px;
				border: none;
				height: 50px;
				margin: 0;
				padding-right: 35px;
				padding-left: 40px;
				position: static;
				&::placeholder {
				color: @white;
			}
		}
		& .actions {
			position: absolute;
			top: 0;
			left: 10px;
			display: block;
			& button {
				background: none;
				border: none;
				& span {
					display: none;
				}
				&:before {
					content: "\e918";
					font-family: icomoon;
					color: @white;
					font-size: 18px;
					line-height: 50px;
					overflow: hidden;
					speak: none;
				}
			}
		}
	}
	@media(max-width: 767px) {
		.nav-toggle {
			display: block;
		}
		span.text {
			display: none;
		}
		.block.block-search {
			display: none;
		}
	}
	& .nav-toggle {
		& span {
			display: none;
		}
		&:before {
			font-family: 'icomoon';
			font-size: 20px;
			color: #ffffff;
			content: '\e908';
			margin: 0 0 30px 10px;
		}
	}
}
}

nav {
	width: 100%;
	height: 55px;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
	& .nav {
		display: flex;
		flex-wrap: wrap;
		padding-inline-start: 0;
		padding-top: 10px;
		width: 100%;
		align-items: center;
		justify-content: space-between;
		list-style: none;
		& li a {
			color: @color-main-one;
			font-size: 13px;
			font-weight: 700;
			font-family:barlow-bold;
			text-decoration: none;
			text-transform: uppercase;
		}
	}
	@media(max-width: 767px) {
		display: none;
	}
}

/* end header and nav styles */

.hero {
	
	background: url("../img/hero.png"), linear-gradient(to bottom, #1f305b 0, #415580 100%);
	background-repeat: no-repeat;
	background-position: top right;
	margin-left: 0;
	margin-right: 0;
	margin-top: 20px;
	margin-bottom: 70px;
}

.hero-content h1 {
	color: @white;
	padding-top: 150px;
	padding-bottom: 55px;
	font-size: 2em;
	line-height: 1.3em;
	letter-spacing: 0.1em;
	font-weight: 700;
	font-family: barlow-bold;
}
.hero-caption-box {
	display:flex;
	padding-inline-start: 0;
	padding-inline-end: 0;
	padding-left: 5%;
	padding-right: 5%;
}
.hero-buttons {
	padding-bottom: 30px;
	display: flex;
	flex-wrap: wrap;
	margin: -5px -5px;
	& :nth-child(1n){
	margin: 5px;
	display: flex;
	flex-wrap: nowrap;
	min-width: 170px;
	@media(max-width: 479px) {
	justify-content: center;
}
}
@media(max-width: 479px) {
	justify-content: center;
}
}

.hero-brands {
	display: flex;
	flex-wrap:nowrap;
	list-style:none;
	justify-content:space-between;
	padding-inline-start: 0;
	padding-inline-end: 0;
	color: @white;
	text-align: center;
	padding-top: 50px;
	padding-bottom: 15px;
	padding-left: 20px;
	padding-right: 20px;
	& span {
		color: @white;
	}
	& img {
		height: 58px;
	}
	@media(max-width: 767px) {
		display:none;
	}
}

a.btn-white {
	text-decoration: none;
	&:hover {
	color: @color-main-dark;
}
}

.btn-white {
	color: @color-main-dark;
	font-size: 0.8em;
	font-weight: 700;
	font-family: barlow-bold;;
	background: @white;
	border-radius: 3px;
	padding: 15px 56px;
	margin-right: 20px;
	text-decoration: none;
	letter-spacing: 0.1em;
	transition: .3s all ease-in;
	@media (max-width: 576px){
	padding: 15px 5%;
}
&:hover {
	background: @grey;
}
}

#general {
	& h2, h3, h4, h5, h6 {
		text-align: center;
		letter-spacing: 0.04em;
		padding-bottom: 5px;
		color: @color-main-one;
		line-height: 1.65;
	}
	& h2 {
		font-size: 1.5em;
		font-weight: 700;
		font-family: barlow-bold;
	}
	& .product-carousel{
		& h4 {
			text-align: left;
			padding-top: 10px;
			padding-bottom: 0;
			margin-bottom: -10px;
		}
		& .product-details-area {
			text-align: left;
		& .btn-blue {
			color: @white;
			float: left;
			margin-top: 10px;
			@media(max-width:767px)
			{
			float: unset;
			}
			}
			& .product-shortname {
				font-family: barlow-bold;
				font-size: 20px;
				color: @color-main-one;
				margin-bottom: 7px;
			}
			& .product-item-name {
			& a {
				font-family: barlow;
				font-size: 13px;
				line-height: 19px;
				font-weight: 400;
				color: #333;
				}	
			}
			& .product-price {
				font-family: barlow-bold;
				font-size: 20px;
				color: @color-main-one;
				}
		}
	}
	& .general-sonder h3 {
		padding-top: 30px;
		padding-left: 40px;
		color: @white;
		text-align: left;
		padding-bottom: 0;
	}
	& .general-grid-caption h3 {
		display: block;
		position: relative;
		color: @white;
		margin-left: auto;
		margin-right: auto;
		left: 0;
		right: 0;
		text-align: center;
		z-index: 2;	
		font-size: 1.3em;
	}
}

.general-grid-caption {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 40px;
	color: #f6f6f6;
	background: rgb(6, 38, 85);
	opacity: 0.7;
	transition: all 350ms ease-in;
	z-index: 2;
& a {
cursor: default;
text-decoration: none;
}
	
}

a.btn-blue {
	color: @white;
	font-size: 0.8em;
	font-weight: 700;
	font-family: barlow-bold;
	background: @color-main-one;
	border-radius: 3px;
	padding: 15px 55px;
	text-decoration: none;
	letter-spacing: 0.1em;
	margin: 0 auto;
	display: block;
	width: 250px;
	width: fit-content;
	text-align: center;
	border: 1px solid @color-main-one;
	&:hover {
	background: @color-main-one;
	color: @white;
}
}

a.product-info-button {
	transition: all 350ms;
	opacity: 0;
	z-index: 2;
	position: absolute;
	margin-left: auto;
	margin-right: auto;
	display: block;
	margin-top: -90px;
	left: 0;
	right: 0;
	max-width: 300px;
}

.product:hover .general-grid-caption {
	opacity: 0;		   
}
.product:hover a.product-info-button {
	opacity: 1;
}

.general-filter {
	text-align: center;
	flex-direction:column;
	display: flex;
	justify-content: center;
	& .btn-white {
		border: 1px @grey solid;
		margin-right: -1px;
		margin-left: 0;
		&:focus {
		outline: none;
	}
}
}
.filters {
	display: flex;
	flex-flow: row nowrap;
	justify-content: center;
	flex: 1 1 auto;
	margin-right: -1px;
	margin-left: 0;
	&:focus {
	outline: none;
}
}

.filters-item {
	color: @color-main-dark;
	font-size: 0.8em;
	font-weight: 700;
	font-family: barlow-bold;
	background: @white;
	border: 1px solid @grey;
	border-radius: 3px;
	padding: 15px 56px;
	margin-right: -1px;
	text-decoration: none;
	letter-spacing: 0.1em;
	transition: .3s all ease-in;
	@media (max-width: 576px){
	padding: 15px 5%;
}
&:hover {
	background: @grey;
	color: inherit;
}
}
.filters-item.active {
	color: inherit;
	transition: all 350ms;
	background: @grey;
}
a.filters-item {
	text-decoration: none;	
}
.products {
	display: flex;
	flex-flow: row wrap;
	padding: 0;
	margin: 0;
	list-style: none;
	justify-content:space-between;
}
.product {
	position: relative;
	flex: 1 0;
	flex-basis: calc(100% - 20px);
	margin-top: 10px;
	margin-bottom: 20px;
	&:hover ~ .general-grid-caption {
	opacity: 0;
}
}

@media (min-width: 520px) {
	.product {
		flex: 0 0;
		flex-basis: calc((100% / 2) - 20px);
	}
	
}
@media (min-width: 860px) {
	.product {
		flex: 0 0;
		flex-basis: calc((100% / 3) - 20px);
	}
}

.product-image img {
	display: block;
	width: 100%;
	height: auto;
}


.general-product-carousel {
	margin-bottom: 520px;
	& h2 {
		margin-bottom: 15px;
	}
	& .img-box {
		background: #f2f4f6;
	}
	& .small-carousel {	
		margin-left: auto;
		margin-right: auto;
		margin-bottom: -120px;
		margin-top: 0;
		& .owl-nav{
			display:none;
		}
	}
}
/* Owl Carousel v2.2.0* - Start Olw Carousel default styles */
	
	.owl-carousel {
		display: none;
		width: 100%;
		-webkit-tap-highlight-color: transparent;
		/* position relative and z-index fix webkit rendering fonts issue */
		position: relative;
	z-index: 1; }
	.owl-carousel .owl-stage {
		position: relative;
	-ms-touch-action: pan-Y; }
	.owl-carousel .owl-stage:after {
		content: ".";
		display: block;
		clear: both;
		visibility: hidden;
		line-height: 0;
	height: 0; }
	.owl-carousel .owl-stage-outer {
		position: relative;
		overflow: hidden;
		/* fix for flashing background */
	-webkit-transform: translate3d(0px, 0px, 0px); }
	.owl-carousel .owl-item {
		position: relative;
		min-height: 1px;
		float: left;
		-webkit-backface-visibility: hidden;
		-webkit-tap-highlight-color: transparent;
	-webkit-touch-callout: none; }
	.owl-carousel .owl-item img {
		display: block;
		width: 100%;
	-webkit-transform-style: preserve-3d; }
	.owl-carousel .owl-nav.disabled,
	.owl-carousel .owl-dots.disabled {
	display: none; }
	.owl-carousel .owl-nav .owl-prev,
	.owl-carousel .owl-nav .owl-next,
	.owl-carousel .owl-dot {
		cursor: pointer;
		cursor: hand;
		-webkit-user-select: none;
		-khtml-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
	user-select: none; }
	.owl-carousel.owl-loaded {
	display: block; }
	.owl-carousel.owl-loading {
		opacity: 0;
	display: block; }
	.owl-carousel.owl-hidden {
	opacity: 0; }
	.owl-carousel.owl-refresh .owl-item {
	visibility: hidden; }
	.owl-carousel.owl-drag .owl-item {
		-webkit-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
	user-select: none; }
	.owl-carousel.owl-grab {
		cursor: move;
	cursor: grab; }
	.owl-carousel.owl-rtl {
	direction: rtl; }
	.owl-carousel.owl-rtl .owl-item {
	float: right; }
	
	/* No Js */
	.no-js .owl-carousel {
	display: block; }
	
	/*
		*  Owl Carousel - Animate Plugin
	*/
	.owl-carousel .animated {
		animation-duration: 1000ms;
	animation-fill-mode: both; }
	
	.owl-carousel .owl-animated-in {
	z-index: 0; }
	
	.owl-carousel .owl-animated-out {
	z-index: 1; }
	
	.owl-carousel .fadeOut {
	animation-name: fadeOut; }
	
	@keyframes fadeOut {
		0% {
		opacity: 1; }
		100% {
		opacity: 0; } }
		
		/*
			* 	Owl Carousel - Auto Height Plugin
		*/
		.owl-height {
		transition: height 500ms ease-in-out; }
		
		/*
			* 	Owl Carousel - Lazy Load Plugin
		*/
		.owl-carousel .owl-item .owl-lazy {
			opacity: 0;
		transition: opacity 400ms ease; }
		
		.owl-carousel .owl-item img.owl-lazy {
		transform-style: preserve-3d; }
		
		/*
			* 	Owl Carousel - Video Plugin
		*/
		.owl-carousel .owl-video-wrapper {
			position: relative;
			height: 100%;
		background: #000; }
		
		.owl-carousel .owl-video-play-icon {
			position: absolute;
			height: 80px;
			width: 80px;
			left: 50%;
			top: 50%;
			margin-left: -40px;
			margin-top: -40px;
			background: url("owl.video.play.png") no-repeat;
			cursor: pointer;
			z-index: 1;
			-webkit-backface-visibility: hidden;
		transition: transform 100ms ease; }
		
		.owl-carousel .owl-video-play-icon:hover {
			-ms-transform: scale(1.3, 1.3);
		transform: scale(1.3, 1.3); }
		
		.owl-carousel .owl-video-playing .owl-video-tn,
		.owl-carousel .owl-video-playing .owl-video-play-icon {
		display: none; }
		
		.owl-carousel .owl-video-tn {
			opacity: 0;
			height: 100%;
			background-position: center center;
			background-repeat: no-repeat;
			background-size: contain;
		transition: opacity 400ms ease; }
		
		.owl-carousel .owl-video-frame {
			position: relative;
			z-index: 1;
			height: 100%;
		width: 100%; }
		
/* End owl-carosel plugin default styles */


/* Start owl-carosel plugin custom  styles */	

		& .owl-nav {
			position: relative;
			top: 0;
			width: 100%;
			max-width: 1280px;
			& [class*=owl-] {
				background: 0 0;
				border: none;
				&:hover [class*=icon-slider-]{
				font-weight: 700;
				font-size:initial;
			}
		}
}
& .owl-next {
	position: absolute;
	right: -45px;
	margin-top: -320px;
	&:focus{
	outline: none;
}
}
& .owl-prev {
	position: absolute;
	left: -45px;
	margin-top: -320px;
	&:focus{
	outline: none;
}
}
/* End owl-carosel plugin custom styles */
.general-grid {
	margin-bottom: 30px;
	margin-top: 3px;
}

.general-grid-item {
	margin-top: 15px;
	margin-bottom: 25px;
	& img {
		width: 100%;
	}
	& a {
		position: relative;
		display: block;
		&:before {
		content: "";
		background: @color-main-one none repeat scroll 0 0;
		position: absolute;
		z-index: 1;
		width: 100%;
		height: 100%;
		opacity: 0.6;
	}
}
}
.sonder {
	position: relative;
	width: 100%;
	height: 100%;
	min-height: 300px;
& .general-sonder-img {
	padding-right: 30px;
& img {
	float: right;
}
}
& .general-sonder {
	position: absolute;
    color: #fff;
    background: #062655;
    background-position: center;
    background-repeat: no-repeat;
    top: 0;
    left: 0;
    background-size: 100%;
    opacity: .7;
    width: 100%;
	height: 100%;
}
& ul {
	padding-left: 55px;
	line-height: 1.5em;
	margin-bottom: 30px;
}
& .btn-white {
	margin-left: 40px;
	margin-top: 10px;
	margin-bottom: 30px;
}
}
.small-carousel {
	justify-content: center;
	& .content {
		max-width: 900px;
	}
	& img {
		width: 100%;
		margin: 20px auto auto auto;
	}
	& .tabs {
	& > :nth-child(2) {
	& .content {
	& .owl-stage-outer {
	& .owl-stage {
	margin-left: 25%;
	@media(max-width: 1023px){
	margin-left: 16.66667%;
	}
	@media(max-width: 767px){
	margin-left: 0;
	}
	}
	}
	}
	}
	& > :first-child, > :last-child {
	& .content {
	max-width: 100%;
	}
}
}
}

.product-carousel {
	justify-content: center;
	& img {
		width: 100%;
		margin: 20px auto 20px auto;
	}
	& a {
		text-decoration: none;
		color: @color-main-dark;
	}
	& span.product-description {
		font-size: 0.8em;
		font-weight: 500;
		font-family: barlow-medium;
	}
}
.tabs {
	display:flex;
	flex-wrap:nowrap;
	width: 100%;
	position: relative;
	margin: auto;
	justify-content:center;
	text-align: center;
	& .tab {
		display: none;
	}
	& .tab + label {
		display: block;
		float: left;
		&:after {
		content: "";
		clear: both;
		display: block;
		height: 0;
	}
    & .heading {
		display: block;
		width: 100%;
		text-align: center;
		color: inherit;
		&:hover {
        cursor: pointer;
	}
}
& + .content {
	display: none;
	width: 100%;
	height: auto;
	padding: 50px;
	overflow: hidden;
	left: 0;
	right:0;
	margin-left: auto;
	margin-right: auto;
	top: 58px;
	position: absolute;
}
}
& .tab:checked + label {
    .heading {
		background: @color-border;
	}
    & + .content {
		display: block;
	}
}
}
span.heading.filters-item {
    width: max-content !important;
}
.product-price-box {
	font-size: 1.2em;
	font-weight: 700;
	font-family: barlow-bold;
	margin-top: 15px;
	&:after {
	content: "inkl. MwSt";
	font-size: 0.7em;
	font-weight: 500;
	font-family: barlow-medium;
}
}

.big-grid {
	margin-bottom: 70px;
	margin-top: 20px;
	& .general-grid-caption h3 {
		font-size: 1.5em;
	}
	& .product {
		flex: 0 0;
		flex-basis: calc((100% / 2) - 15px);
		@media(max-width: 479px) {
		flex: 0 0 100%;
	}
}
}

#services {
	background: @grey-backround;
	padding-top: 40px;
	padding-bottom: 60px;
	margin-bottom: 80px;
	& .service-title {
		marigin-left: auto;
		margin-right: auto;
		}
	& h2, h3, h4, h5, h6 {
		text-align: center;
		color: @color-main-one;
		letter-spacing: .04em;
		line-height: 1.65;
	}
	& h2 {
		font-size: 1.5em;
		font-weight: 700;	
	}
	& h3 {
		font-weight: 400;
	}
	& h4 {
		margin-left: auto;
    margin-right: auto;
    text-align: center;
    min-width: 100%;
		}
	& img {
		margin-left: auto;
		margin-right: auto;
		width: 75px;
		display: block;
		margin-bottom: 20px;
	}
	& .service-description {
		font-size: 0.8em;
		font-weight: 500;
		color: @color-main-one;
		text-align: center;
		padding: 0 30px 0 30px;
		margin-bottom: 10px;
	}
	& .service-img {
		text-align:center;
		padding-top: 10px;
		padding-bottom: 10px;
		margin-left: auto;
		margin-right: auto;
	}
	& .service-title {
		margin-left: auto;
		margin-right: auto;
		}
	& [class^="icon-"] {
		font-size: 50px;
		color: @color-main-one;
	}
	& .btn-blue {
		transition: .3s all ease-in;
		&:hover {
		background: @white;
		color: @color-main-one;
		border: @color-main-one 1p solid;
	}
}
& .top-services {
	display: flex;
	flex-wrap: wrap;
	margin-left: -15px;
	margin-right: -15px;
	& .service-box {
		flex: 0 0;
		flex-basis: calc((100% / 3) - 15px);
		max-width: 33%; /* for ie 11 */
		max-width: calc((100% / 3) - 15px);
		padding-left: 15px;
		padding-right: 15px;
		padding-bottom: 15px;
		@media(max-width: 478px) {
		flex: 0 0 100%;
		max-width: 100%;
	}
}
& :nth-child(1), :nth-child(2) {
	@media(min-width: 479px) and (max-width: 1024px) {
	flex: 0 0;
	flex-basis: calc((100% /2 ) - 15px);
	max-width: 49.999%;
    max-width: calc((100% /2 ) - 15px);
}
}
& :nth-child(3) {
	@media(max-width: 1024px) {
	flex: 0 0 100%;
	max-width: 100%;
}
}
}
}

#usps {
	padding-top: 20px;
	margin-bottom: 30px;
	& h2, h3, h4, h5, h6 {
		letter-spacing: .04em;
		line-height: 1.65;
	}
	& h2 {
		font-size: 1.5em;
		font-weight: 700;
		font-family: barlow-bold;
	} 
	& h3 {
		font-weight: 400;
		text-align: left;
	}
	& p {
		font-size: 0.85em;
		font-weight: 500;
		font-family: barlow-medium;
	}
	& .payments {
		padding-top: 135px;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		& span.paymethod {
			background: #f2f4f6;
			font-size: 0.8em;
			padding: 4px 13px 4px 13px;
			border-radius: 2px;
			font-weight: 500;
			font-family: barlow-medium;
			margin: 5px;
		}
	}
	}	

	
#sticky-side {
  position: fixed;
  top: 50%;
  transform: translateY(-50%);
  right: 0;
  display: flex;
  align-items: center;
  z-index: 10;
  .contact-btn {
    height: 50px;
    width: 30px;
    background-color: @color-main-one;
    color: @white;
    line-height: 50px;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    .i {
      font-size: 29px;
    }
  }
  #side-box {
    padding: 10px;
    border-right: 0;
    height: auto;
    max-height: calc(100vh -20px);
    overflow-y: auto;
    background: @color-main-one;
    width: 300px;
    margin-right: -300px;
    z-index: 9999;
    transition: all 0.5s;
    box-sizing: border-box;
    .side-header {
      display: block;
      background-color: @color-main-one;
      padding: 0 10px;
      font-size: 15px;
      color: @white;
      height: 40px;
      line-height: 25px;
      position: relative;
      font-family: barlow, sans-serif;
      span {
        font-size: 15px;
      }
      i {
        font-size: 10px;
        position: absolute;
        right: 0;
        top: 10%;
        transform: translateY(-50%);
        cursor: pointer;
      }
    }
  }
  .open-box {
    margin-right: 0 !important;
	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  }
  .tax-switcher {
    background: #e9ebfa;
    font-family: barlow, sans-serif;
    .choose {
      color: #333333;
      font-size: 13px;
      padding: 5px 15px 10px;
    }
    select {
      width: 100%;
      height: 30px;
      &:focus {
        outline: 0;
        border: 0;
      }
    }
  }
  .contact-boxes {
      background: @color-main-one;
    a {
      color: @white;
      display: block;
      margin-top: 10px;
      margin-left: 15px;
      text-decoration: none;
    i {
		font-size: 13px;
		}
    
    span {
      margin-top: 10px;
      margin-left: 15px;      
      font-weight: 400;
      font-family:barlow, sans-serif;
    }
    }
  }
    .phone {
      
      height: 33px;
      border-bottom: 0.25px solid @white;
    }
    .mail {
      height: 33px;
      border-bottom: 1px solid @white;
    }
    .newslt {
      height: 33px;
      border-bottom: 1px solid @white;
    }
    .chat {
      height: 25px;
    }
  }
