/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
/* barlow-regular */
@font-face {
  font-family: 'Barlow';
  font-style: normal;
  src: url('../fonts/barlow/webfonts/Barlow-Regular.woff2') format('woff2'), url('../fonts/barlow/webfonts/Barlow-Regular.woff') format('woff');
}
/* barlow-medium */
@font-face {
  font-family: 'Barlow-Medium';
  font-style: normal;
  src: url('../fonts/barlow/webfonts/Barlow-Medium.woff2') format('woff2'), url('../fonts/barlow/webfonts/Barlow-Medium.woff') format('woff');
}
/* barlow-bold */
@font-face {
  font-family: 'Barlow-Bold';
  font-style: normal;
  src: url('../fonts/barlow/webfonts/Barlow-Bold.woff2') format('woff2'), url('../fonts/barlow/webfonts/Barlow-Bold.woff') format('woff');
}
/* icomoon - iconfont */
@font-face {
  font-family: 'icomoon';
  src: url('../fonts/icomoon/webfonts/icomoon.eot?puw52i');
  src: url('../fonts/icomoon/webfonts/icomoon.eot?puw52i#iefix') format('embedded-opentype'), url('../fonts/icomoon/webfonts/icomoon.woff?puw52i') format('woff'), url('../fonts/icomoon/webfonts/icomoon.ttf?puw52i') format('truetype'), url('../fonts/icomoon/webfonts/icomoon.svg?puw52i#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}
.page-print .logo {
  display: block;
  float: none;
  text-align: left;
}
@media print {
  * {
    -webkit-filter: none !important;
    background: transparent !important;
    color: #000000 !important;
    filter: none !important;
    text-shadow: none !important;
  }
  a,
  a:visited {
    text-decoration: underline !important;
  }
  pre,
  blockquote {
    border: 1px solid #999999;
    page-break-inside: avoid;
  }
  thead {
    display: table-header-group;
  }
  .table-wrapper table {
    width: 100%;
    table-layout: fixed;
  }
  .table-wrapper table td {
    width: auto;
  }
  .table-wrapper table > tfoot > tr:first-child {
    border-top: 1px solid #999999;
  }
  .box,
  tr,
  img {
    page-break-inside: avoid;
  }
  img {
    max-width: 100% !important;
  }
  @page {
    margin: 1cm;
  }
  .block-content,
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }
  .block-content {
    page-break-before: avoid;
  }
  .block-title,
  h2,
  h3 {
    page-break-after: avoid;
  }
  .nav-toggle {
    display: none !important;
  }
  .sidebar,
  .nav-sections,
  .header.content > *[class],
  .panel.wrapper > *[class],
  .footer.content > *[class] {
    display: none;
  }
  .logo,
  .footer .copyright {
    display: block !important;
    margin: 10px 0;
  }
  .order-details-items .order-items .order-gift-message:not(.expanded-content) {
    height: auto;
    visibility: visible;
  }
  .column.main {
    float: none !important;
    width: 100% !important;
  }
  .breadcrumbs {
    margin: 0 auto;
    text-align: right;
  }
  .footer.content {
    padding: 0;
  }
  .hidden-print {
    display: none !important;
  }
}
